*.auto.pkrvars.hcl
*_VARS.fd
cloud-init.iso
venv
__pycache__
.mypy_cache
# Ignore local artifacts
/local
# Ignore packer output directory
/output
# Ignore test user-data files
/test/*/user-data
test-init.iso
