// arch = "amd64"
// driver_version = "525.147.05"
// gh_token = ""
// headless = true
image_name = "local-image"
// os = "linux"
runner_version = "2.312.0"
runner_env = "premise"
// upload_ami = false
