[Unit]
Description=GHA Runner
After=docker.service network.target cloud-final.service

[Service]
ExecStart=/runner.sh
ExecStop=sudo poweroff -ff
FailureAction=poweroff-immediate
SuccessAction=poweroff-immediate
User=runner
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=cloud-init.target
