[Unit]
Description=DCGM Exporter
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/bin/bash -c ' \
  /usr/bin/docker run --rm \
    --name dcgm-exporter \
    --hostname $$(hostname -f) \
    --publish 9400:9400 \
    --gpus all \
    --cap-add SYS_ADMIN \
    nvidia/dcgm-exporter:4.1.1-4.0.4-ubuntu22.04'

[Install]
WantedBy=multi-user.target
